@model Jewels.Models.Cart

@{
    ViewBag.Title = "Payment";
    Jewels.Models.KhachHang khachHang = new Jewels.Models.KhachHang();
    if (ViewBag.UserLogin != null)
    {
        khachHang = ViewBag.UserLogin;
    }

    int sum = 0;

}

<head>
    <style>
        .payment {
            color: white;
            background-color: black;
            border-radius: 0px;
            height: 45px;
            width: 200px;
            margin-top: 10px;
            margin-left: 10px;
        }


        #buttonBuyNow {
            color: white;
            border-radius: 5px;
            background: blue;
            border: solid 2px;
            font-weight: bold;
            font-size: 20px;
        }

        #buttonBuyNow2 {
            color: black;
            background: transparent;
            font-weight: bold;
            font-size: 16px;
        }

        select#ddl {
            height: 20px;
            width: 150px;
        }
    </style>

</head>
@using (Html.BeginForm("CreateOrder", "ShoppingCart"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class=" container-fluid row">

        <!-- thoong tin khach-->
    <div class="col-sm-5 p-4" style="border-right: 1px solid var(--bg5-color)">
            <div class="row">
                <div class="col-sm-3">
                    <a href="/Home/Index" id="buttonBuyNow2" class="btn btn-default btn-sm active" type="button"
                    aria-pressed="true">
                        Mua thêm
                    </a>
                </div>
                <div class="col">
                    <p style=" color: var(--bg5-color); float:left ; font-size: 24px; font-weight:  bold; width:100%;">
                        Thông
                        tin giao hàng
                    </p>
                </div>
            </div>
            @if (khachHang == null)
            {
                <p style="text-align:left;">
                    <a href="~/User/DangNhap" style="font-size:16px;"> &ensp; Đăng nhập </a> để được
                    tích điểm
                </p>

                <label>Họ và tên: </label>
                <input placeholder="Họ và tên" class="form-control text-box single-line" id="TenKH" name="TenKH" type="text">
                <br />
                <label>Số điện thoại: </label>
                <input placeholder="Số điện thoại" class="form-control text-box single-line" id="DienThoai" name="DienThoai"
            type="text">
                <br />
                <label>Địa chỉ: </label>
                <input placeholder="Địa chỉ" class="form-control text-box single-line" id="DiaChi" name="DiaChi" type="text">
                <br />
            }
            else
            {
                <label>Họ và tên: </label>
                <input placeholder="Họ và tên" class="form-control text-box single-line" id="TenKH" name="TenKH" type="text"
            value="@khachHang.TenKH">
                <br />
                <label>Số điện thoại: </label>
                <input placeholder="Số điện thoại" class="form-control text-box single-line" id="DienThoai" name="DienThoai"
            type="text" value="@khachHang.DienThoai">
                <br />
                <label>Địa chỉ: </label>
                <input placeholder="Địa chỉ" class="form-control text-box single-line" id="DiaChi" name="DiaChi" type="text"
            value="@khachHang.DiaChi">
                <br />

            }


            <div class="row">
                <div class="col-sm-4" style="padding: 0px;">Hình thức thanh toán :</div>
                <div class="col-sm-8">
                    <select name="HinhThucTTID" id="HinhThucTTID"
                    style="border: 1px solid #ced4da; border-radius: 5px; height: 36px; width: 284px;">
                        <option value="1">Thanh toán khi nhận hàng</option>
                        <option value="2">Thanh toán trực tuyến</option>
                    </select>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="form-group row" style="justify-content: left;">
                    <div class="col">Áp dụng mãi khuyến mãi</div>
                    <div class="col">
                        <input type="text" class="form-control" id="MaKM" name="MaKM" placeholder="Nhập mã khuyến mãi">
                    </div>
                    <div class="col">
                        <input type="button" onclick="checkMaKM()" value="Áp dụng" class="btn-default active btn" />
                    </div>
                </div>
            </div>
        </div>
        <!-- san pham -->
    <div class="col-sm-7 p-4">

            <div>
                <p style=" color: var(--bg5-color); float:left ; font-size: 24px; font-weight:  bold; width:100%;">
                    Thông tin
                    giỏ hàng
                </p>
                <br />
                <div class="row" style="border: 1px solid black; border-radius:5px; ">
                    @foreach (var item in Model.Items.ToList())
                    {
                        int tongtien = Convert.ToInt32(item.shoppingSanpham.GiaBan * item.shoppingSoluong);
                        <div class="row" style="margin: 15px 15px">
                            <div class="col-sm-3">
                                <img src="@Url.Content(@item.shoppingSanpham.UrlHinhAnhSP.ToString())" alt="ảnh lỗi rồi"
                            style="width:100px" />
                            </div>
                            <div class="col-sm-8 row " style="align-content: center">
                                <p class="col-sm-7">@item.shoppingSanpham.SanPhamName</p>
                                <p class="col-sm-2"> @item.shoppingSoluong</p>
                                <p class="col-sm-3"> @tongtien.ToString("#,##0") VNĐ</p>
                            </div>
                        </div>

                        sum += tongtien;
                    }

                </div>
                <hr />
                <div class="row">
                    <h4 style="text-align: right">Tạm tính : <strong>@sum.ToString("#,##0") VNĐ </strong></h4>
                </div>
                <div class="row" style="text-align: right">
                    <H4>Tiền giảm giá: <strong id="giaGiam"></strong> </H4>
                    <input type="hidden" name="TienGiamGia" value="@Model.TotalPrice()" id="TienGiamGia" />
                    <input type="hidden" name="tienDaGiam" id="tienDaGiam" />
                </div>
                <hr />

                <h4 style="text-align: right">Tổng tiền : <strong id="totalPrice" name="totalPrice">VNĐ</strong> </h4>

                <div class="purchase" style="text-align: right">
                    <input id="buttonBuyNow" type="button" value="Đặt hàng" onclick="pay(@sum)" class="btn btn-light" />
                </div>
            </div>

        </div>
    </div>
    <!--container-fluid-->
}
<script>
    function checkMaKM() {
        var maKM = document.getElementById("MaKM").value;
        if (maKM == "") {
            alert("Vui lòng nhập mã khuyến mãi"); return;
        }

        // fect data from server post
        fetch("/ShoppingCart/ShowSale?KhuyenMaiID=" + maKM, {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        }).then(res => res.json())
            .then(data => {
                console.log(data);
                if (data.Success) {
                    var giaGiam = document.getElementById("giaGiam").innerHTML = data.TienGiamGia + " VNĐ";
                    document.getElementById("tienDaGiam").value = data.TienGiamGia;
                    var tongTien = document.getElementById("TienGiamGia").value;
                    tongTien = tongTien - data.TienGiamGia;
                    // format number ###.###
                    var totalPriceFormat = tongTien.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');

                    document.getElementById("totalPrice").innerHTML = totalPriceFormat;

                }
                else {
                    alert(data.Message);
                }
            })
            .catch(err => console.log(err));
    }
    // pay

    function pay(totalPrice) {
        var name = document.getElementById("TenKH").value;
        var phone = document.getElementById("DienThoai").value;
        var address = document.getElementById("DiaChi").value;
        var hinhthuctt = document.getElementById("HinhThucTTID").value;
        var maKM = document.getElementById("MaKM").value;
        var tienGiamGia = document.getElementById("tienDaGiam").value;
        var tongTien = totalPrice;
        if (name == "" || phone == "" || address == "") {
            alert("Vui lòng nhập đầy đủ thông tin"); return;
        }
        const data = {
            TenKH: name,
            DienThoai: phone,
            DiaChi: address,
            HinhThucTTID: hinhthuctt,
            KhuyenMaiID: maKM,
            TrangThaiID: 1,
            TienGiamGia: tienGiamGia,
            TongTien: tongTien - tienGiamGia
        }
        console.log(data);
        // fect data from server post
        fetch("/ShoppingCart/CreateOrder", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)

        }).then(res => res.json())
            .then(data => {
                console.log(data);
                if (data.Success) {
                    alert(data.Message);
                    location.href = "/ShoppingCart/Done"
                }
                else {
                    alert(data.Message);
                }
            })
            .catch(err => console.log(err));
    }
</script>
