@model Jewels.Models.Cart

@{
    ViewBag.Title = "ShowToCart";

}
<head>
    <style>
        #buttonBuyNow {
            color: black;
            border-radius: 0px;
            background: transparent;
            border: solid 2px;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container px-2">

        @if (Model.Items.Count() != 0)
        {
            <a href="/"><i title="back" class="fa-solid fa-arrow-left-long" style="color: black; margin-top: 75px; font-size: 30px"></i></a>
            <h2 style="color: #1F341E; margin-bottom: 0px; margin-bottom: 15px">Giỏ hàng của bạn.</h2>


            <table class="table col-sm-9" style="border: .1px solid #BDBDBD">
                <thead>
                    <tr>
                        <th style="border: .1px solid #BDBDBD; font-size: 20px">Product Name</th>
                        <th style="border: .1px solid #BDBDBD; font-size: 20px">Image</th>
                        <th style="border: .1px solid #BDBDBD; font-size: 20px">Product Price</th>
                        <th style="border: .1px solid #BDBDBD; font-size: 20px">Quantity</th>
                        <th style="border: .1px solid #BDBDBD; font-size: 20px">Price</th>
                        <th style="border: .1px solid #BDBDBD; font-size: 20px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        double tongtien = Convert.ToDouble(item.shoppingSanpham.GiaBan * item.shoppingSoluong);
                        <tr>
                            <td style="border: .1px solid #BDBDBD; font-size: 18px">
                                @Html.DisplayFor(model => item.shoppingSanpham.SanPhamName)
                            </td>
                            <td style="border: .1px solid #BDBDBD; text-align: center">
                                <img src="@Url.Content(item.shoppingSanpham.UrlHinhAnhSP)" style="width: 200px;" />
                            </td>
                            <td style="border: .1px solid #BDBDBD; font-size: 18px">
                                @item.shoppingSanpham.GiaBan.ToString("#,##0") VNĐ
                            </td>
                            <td style="border: .1px solid #BDBDBD; font-size: 18px">
                                @using (Html.BeginForm("UpdateQuantityInCart", "ShoppingCart"))
                                {
                                    <input type="hidden" value="@item.shoppingSanpham.SanPhamID" name="ID_SanPham" />
                                    <input type="number" min="1" max="30" value="@item.shoppingSoluong" name="SoLuong_SP" style="width: 60px" />
                                    <input type="submit" value="Update" />
                                }
                            </td>
                            <td style="border: .1px solid #BDBDBD; font-size: 18px">
                                Thành tiền:  @tongtien.ToString("#,##0") VNĐ
                            </td>
                            <td style="border: .1px solid #BDBDBD; font-size: 18px; text-align:center;">
                                <a class="remove" href="/ShoppingCart/RemoveProductInCart/@item.shoppingSanpham.SanPhamID" style="color: black; text-decoration: none">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr style="border: .1px solid #BDBDBD; font-size: 25px; text-align: right; font-weight: bold">
                        <td colspan="6" style="border: .1px solid #BDBDBD">Tổng tiền:  @Model.TotalPrice().ToString("#,##0") VNĐ</td>
                    </tr>
                </tfoot>
            </table>
            <div class="purchase" style="text-align: right">
                <a href="/Home/Index" id="buttonBuyNow" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">
                    < Mua thêm
                </a>

                <a href="/ShoppingCart/Payment" id="buttonBuyNow" class="btn btn-primary btn-sm active" type="button" aria-pressed="true">
                    Thanh toán
                </a>
            </div>

            <br />
        }
        
    </div>
</body>

