@model Jewels.Models.HinhThucTT

@{
    ViewBag.Title = "Thêm hình thức thanh toán ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="container-fluid namecreate">
        <h2>Thêm hình thức thanh toán </h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.HinhThucTTName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.HinhThucTTName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HinhThucTTName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-sm-6">
                        <input type="submit" value="Create" class="btn btn-default cre-btn" />  |
                        <button class="btn back-btn">@Html.ActionLink("Back to List", "Index")</button>

                    </div>

                </div>
            </div>
        }



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>