@model Jewels.Models.KhachHang

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <style>
        body {
            height: 100%;
            width: 100%;
            font-family: "Lato", sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../../Img/bg_user.jpg');
            overflow: hidden;
        }

        .main {
            margin:10px 0;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
        }

        .dn-dk {
            width: 100%;
            line-height: 40px;
            text-align: center;
            height: 40px;
            background-image: linear-gradient(white, #CFBC8C);
        }
    </style>
</head>
<body>
    <div class="container-fluid row" style=" justify-content: center; padding: 0px; margin: 0px; ">
        <div class="col-sm-5 main">
            <div class="container" style="margin: 10px 0">
                <div class="row" style="margin:0 0 15px 0">
                    <img style="width:100%; height:auto; " src="~/Img/Logo_koNen.png" />
                </div>
                <div class="row" style=" justify-content: center; margin: 15px 0">
                    <a href="~/User/DangNhap" class="col-sm-4 dn-dk"
                       style="border-right: 1px solid #CFBC8C; border-radius: 5px 0 0 5px; background: #CFBC8C; color:white;">
                        <strong style="color: #593E2B ">Đăng nhập </strong>
                    </a>
                    <a href="~/User/DangKy" class="col-sm-4 dn-dk" style="border-radius: 0 5px 5px 0;">
                        <strong style="color: #593E2B ">Đăng Ký </strong>
                    </a>
                </div>
                <div class="container" style=" justify-content: center; margin: 10px 0">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input class="form-control text-box s" id="TichLuy" name="TichLuy" type="hidden" value="0">

                        <div class="row " style=" justify-content: center; margin-bottom:10px;">
                            <h6 class="control-label col-sm-8">Tên khách hàng :</h6>
                            <input class="form-control col-sm-8" id="TenKH" name="TenKH" type="text" value="" />@Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                        </div>
                        <div class="row " style=" justify-content: center; margin-bottom:10px;">
                            <h6 class="control-label col-sm-8">Số điện thoại :</h6>
                            <input class="form-control col-sm-8" id="DienThoai" name="DienThoai" type="text" value="" />@Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                        </div>
                        <div class="row " style=" justify-content: center; margin-bottom:10px;">
                            <h6 class="control-label col-sm-8">Email :</h6>
                            <input class="form-control col-sm-8" id="Email" name="Email" type="text" value="" />@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="row " style=" justify-content: center; margin-bottom:10px;">
                            <h6 class="control-label col-sm-8">Địa Chỉ :</h6>
                            <input class="form-control col-sm-8" id="DiaChi" name="DiaChi" type="text" value="" />@Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                        </div>
                        <div class="row " style=" justify-content: center; margin-bottom:10px;">
                            <h6 class="control-label col-sm-8">Mật khẩu :</h6>
                            <input class="form-control col-sm-8" id="MatKhau" name="MatKhau" type="text" value="" />@Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        </div>

                        <div class="row " style=" justify-content: center">
                            <button type="submit" name="button" class="btn col-sm-8" style="background-color: #593E2B; color:white; font-size:18px;"> Đăng ký </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>