@using PagedList.Mvc
@model  PagedList.IPagedList<Jewels.Models.KhuyenMai>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewBag.Title = "Danh sách mã khuyến mãi / Trang " + CurrentPage;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <link href="~/Content/PagedList.css" rel="stylesheet" />


}
<style>
    body {
        overflow: auto;
    }

    div.container {
        font-size: 14px;
    }

    div.container-fluid.namecreate > div:first-child {
        float: left;
    }

    div.container-fluid.namecreate > div:last-child {
        float: right;
    }
</style>

<div class="container">
    <div class="container-fluid namecreate d-block">
        <div>
            <h2>Mã khuyến mãi</h2>
        </div>
        <div>
            <button type="button" class="btn new-btn ">
                @Html.ActionLink("+ Thêm mã khuyến mãi", "Create")
            </button>
        </div>
    </div>


    <div class="container-fluid ">
        <div>
            <table class="table">
                <thead>
                    <tr class="row">
                        <th class="col-sm-1"> Mã </th>
                        <th class="col-sm-2"> Tiền giảm</th>
                        <th class="col-sm-2"> Ngày bắt đầu </th>
                        <th class="col-sm-2"> Ngày kết thúc</th>
                        <th class="col-sm-2 "></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="col-sm-1"> @Html.DisplayFor(modelItem => item.KhuyenMaiID) </td>
                            <td class="col-sm-2"> @item.TienGiam.ToString("#,##0") VNĐ </td>
                            @* <td class="col-sm-1">
                            <img src="@Url.Content(item.UrlHinhAnhKM)" style="width:100px;height:100px" />
                        </td>
                        <td class="col-sm-2">
                            <p style=" overflow: hidden; text-overflow: ellipsis; line-height: 25px; -webkit-line-clamp: 3;  display: -webkit-box; -webkit-box-orient: vertical;">
                                @Html.DisplayFor(modelItem => item.MoTa)
                            </p>
                        </td>*@

                            <td class="col-sm-2"> @Html.DisplayFor(modelItem => item.NgayBatDau) </td>
                            <td class="col-sm-2"> @Html.DisplayFor(modelItem => item.NgayKetThuc) </td>

                            <td class="col-sm-2">
                                <div class="edit-delete-btn" style="display: inline-block;">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.KhuyenMaiID }, new { @class = "btn" })
                                    <a style="color: white;">|</a>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.KhuyenMaiID }, new { @class = "btn" })
                                </div>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            @if (Model.PageCount == 0 || Model.PageCount == 1)
            {

            }
            else
            {
                <div>
                    <div class="pagination" style="width: 100% ;">
                        <div class="row">
                            <div class="col-sm-3" style="">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                            <div class="col-sm-6" style="text-align: center;">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
                        </div>
                    </div>
                </div>
            }

        </div>  <!-- /bg-content-->
    </div>

</div>