@model Jewels.Models.PhanHoiKH

@{
    ViewBag.Title = "Xóa phản hồi khách hàng ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="container-fluid namecreate">
        <h3>Bạn có chắc chắn muốn xóa phản hồi này không ?</h3>
        <hr />
        <div class="row">
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">ID :</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.PhanHoiID)
                </div>
            </div>
            <br />
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">Tên khách hàng :</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.TenKH)
                </div>
            </div>
            <br />
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">Mức độ hài lòng :</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.MucDoHaiLong)
                </div>
            </div>
            <br />
            <div class="row pb-2">
                <label class="col-sm-3 fw-bold">Mô tả :</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.MoTa)
                </div>
            </div>
            <br />
            <br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger delete-btn" /> |
                    <button class="btn back-btn"> @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
